{% extends "base.html" %}
{% from "navbar.html" import navbar %}

{% block title %}
URL shortner
{% endblock %}

{% block navbar %}
{{ navbar(user) }}
{% endblock %}

{% block page_content %}

{% if user %}

<form class="w3-padding-16 w3-border-bottom" method="POST" action="{{ url_for('index') }}">

    <div class="w3-row">
        <div id="long-url-input" class="w3-col l7" style="padding-right: 16px; padding-left: 16px;">
            <input class="w3-input w3-border" placeholder="https://example.com" name="long-url" type="url" required>
        </div>
        <div class="w3-col l4" style="padding-right: 16px; padding-left: 16px;">
            <input class="w3-input w3-border" placeholder="Name" name="url-name" type="text">
        </div>
        <div class="w3-row w3-margin-left">
            <input id="custom-url-checkbox" class="w3-check w3-margin-top" type="checkbox" onchange="toggleCustomUrl()">
            <label>Custom url</label>
            <div id="custom-url-input" class="w3-input w3-hide w3-border w3-margin-top">
                <label>base_url/</label>
                <input placeholder="Custom url" name="custom-url" type="text" style="border: 0;">
            </div>

        </div>
        <div class="w3-row w3-margin">
            <button class="w3-btn w3-blue">Submit</button>
            {% if error %}
            <div class="w3-panel w3-pale-red" style="border: 1px solid red;">
                <p>{{ error }}</p>
            </div>
            {% endif %}
        </div>
    </div>

</form>

<div class="w3-padding-16 w3-round-large" style="overflow-y: auto;">
    <ul class="w3-ul">

        {% for url in urls %}
        <li class="w3-margin-left w3-margin-right w3-margin-top w3-border">
            <a href="{{ url_for('delete_entry', url_id=url['id']) }}"><span class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span></a>
            <p style="font-size: 20px;"><strong>{% if url['url_name'] %} {{ url['url_name'] }} {% else %} {{ url['long_url'] }} {% endif %}</strong></p>
            <a style="text-decoration: none;" href="{{ url['long_url'] }}"><p class="w3-text-blue">{{ base_url }}{{ url['short_url'] }}</p></a>
            
        </li>
        {% endfor %}
    </ul>
</div>

{% else %}

<div class="w3-container w3-content">

    <h1 class="w3-blue w3-text-white" style="font-size: 64px; font-weight: bold;">You have to login first</h1>
    <h1 class="w3-blue w3-text-white">To get your URL shortened.</h1>

</div>

{% endif %}

{% endblock %}

{% block scripts %}

<script>
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    function toggleCustomUrl() {
        var checkBox = document.getElementById("custom-url-checkbox");
        var customUrlInput = document.getElementById("custom-url-input");

        if (checkBox.checked == true) {

            customUrlInput.className = customUrlInput.className.replace(" w3-hide", "");
            customUrlInput.firstChild.required = true;

        } else {
            customUrlInput.className += " w3-hide";
            customUrlInput.firstChild.required = false;
        }
    }


</script>
{% endblock %}