{% extends "base.html" %}
{% from "navbar.html" import navbar %}

{% block title %}
Login
{% endblock %}

{% block navbar %}
{{ navbar(user) }}
{% endblock %}

{% block page_content %}

<div class="w3-border w3-border-blue w3-content w3-margin" style="border-radius: 8px; box-shadow: 0 15px 35px rgba(50,50,93,0.1),0 5px 15px rgba(0,0,0,0.07) !important;">
    <div class="w3-container" style="border-top-left-radius: inherit; border-top-right-radius: inherit;">
        <h2>Login</h2>
        <hr>
    </div>
    <form class="w3-container" method="POST" action="{{ url_for('login') }}">
        {% if error %}
        <div class="w3-panel w3-pale-red" style="border: 1px solid red;">
            <p>{{ error }}</p>
        </div>
        {% endif %}
        <p>
            <label class="w3-text-blue"><b>Username</b></label>
            <input class="w3-input w3-border w3-round" name="username" type="text"></p>
        <p>
            <label class="w3-text-blue"><b>Password</b></label>
            <input class="w3-input w3-border w3-round" name="password" type="password"></p>
        <p>
            <button class="w3-btn w3-blue w3-round">Login</button></p>
    </form>
    
</div>
{% endblock %}