{% extends "base.html" %}
{% from "navbar.html" import navbar %}

{% block title %}
Login
{% endblock %}

{% block navbar %}
{{ navbar(user) }}
{% endblock %}

{% block page_content %}

<div class=" w3-content" style="margin-top: 200px;">
    <div class="w3-container " style="border-top-left-radius: inherit; border-top-right-radius: inherit;">
        <h2>Login</h2>
    </div>
    <form class="w3-container" method="POST" action="{{ url_for('login') }}">
        {% if error %}
        <div class="w3-panel w3-pale-red" style="border: 1px solid red;">
            <p>{{ error }}</p>
        </div>
        {% endif %}
        <p>
            <label class="w3-text-blue"><b>Username</b></label>
            <input class="w3-input w3-border" name="username" type="text"></p>
        <p>
            <label class="w3-text-blue"><b>Password</b></label>
            <input class="w3-input w3-border" name="password" type="password"></p>
        <p>
            <button class="w3-btn w3-blue">Login</button></p>
    </form>
</div>
{% endblock %}